<div href="" class="container-fluid">
    <nav class="nav flex-column">
        <h6 class="p-2">Payment Driver</h6>
        <a routerLink="paymentdriver/generalsettings" routerLinkActive="active" class="p-2 white">General Settings</a>
        <a routerLink="paymentdriver/lenders" routerLinkActive="active" class="p-2 white">Lenders</a>
        <a routerLink="paymentdriver/paymentoptions" routerLinkActive="active" class="p-2 white">Payment Options</a>
        <a routerLink="paymentdriver/otherpaymentsettings" routerLinkActive="active" class="p-2 white">Other Payment
            Settings</a>
        <a routerLink="paymentdriver/fees" routerLinkActive="active" class="p-2 white">Dealer Fees</a>
    </nav>
</div>