<div href="" class="container-fluid">
    <nav class="nav flex-column">
        <!-- <h6 class="p-2">Payment Driver</h6>
        <a rauterModule="paymentDriver/generalSettings" routerLinkActive="active" class="p-2 white">General Settings</a>
        <a rauterModule="paymentDriver/lenders" routerLinkActive="active" class="p-2 white">Lenders</a>
        <a rauterModule="paymentDriver/paymentoptions" routerLinkActive="active" class="p-2 white">Payment Options</a>
        <a rauterModule="paymentDriver/othersettings" routerLinkActive="active" class="p-2 white">Other Payment</a>
        <a rauterModule="paymentDriver/fees" routerLinkActive="active" class="p-2 white">Dealer Fees</a> -->

        <a rauterLink="admin/paymentdriver" routerLinkActive="active" class="p-2 white">Finance Driver</a>
        <a rauterLink="admin/tradedriver" routerLinkActive="active" class="p-2 white">Trade Driver</a>
        <a rauterLink="admin/financedriver" routerLinkActive="active" class="p-2 white">Payment Driver</a>
    </nav>
</div>
